.DS_Store
db/dumps/*.sql

__pycache__/
*.pyc

.env
api_keys.json
audit.log
kaifong_debug.log

my_image_model/*.safetensors
my_text_model_thai/*.safetensors

.vscode/
**/__pycache__/
**/*.pyc

kaifong_ai_v2/api_keys.json
kaifong_ai_v2/audit.log
kaifong_ai_v2/kaifong_debug.log

**/*.safetensors

# Python virtual environments
venv/
.venv/
**/venv/
**/.venv/